:root {
    --main-font: "Mi fuente";
    --secondary-font: "Montserrat";
    --primary-color: #4a008f;
    --secondary-color: #dcb9ff;
    --tertiary-color: #eddbff;
    --background-light: #ecefff;
    --background-dark: #d7ceff;
    --box-shadow: rgba(66, 0, 104, 0.411);
}

/* Definiciones de fuentes */
@font-face {
    font-family: var(--main-font);
    src: url("Recky.ttf");
}
@font-face {
    font-family: var(--secondary-font);
    src: url("Montserrat/Montserrat-VariableFont_wght.ttf");
}

/* Clases y estilos */
.seguidos-li {
    text-align: center;
    cursor: pointer;
    font-family: var(--main-font);
    width: 100%;
    color: var(--primary-color);
    column-gap: 15px;
}

.div-lista-segudos {
    margin-left: 25%;
    width: 50%;
}

.seguidos-li a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.seguidos-li a {
    text-align: left;
    cursor: pointer;
    padding: 20px;
    font-size: 44px;
    font-family: var(--main-font);
    width: 100%;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 5px;
}

#lista-seguidos {
    text-align: center;
}

.cont {
    width: 100%;
    height: 150vh;
    background-color: var(--background-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-form-img {
    width: 100%;
    max-width: 750px;
    background-color: #fff;
    padding: 50px 60px 70px;
    text-align: left;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgb(162, 1, 255);
}

input {
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    margin-top: 10px;
    border: 1px solid black;
}

#folderName {
    background-color: transparent;
    color: #4b4b4b;
    border: 1px solid black;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

#cont_nombre_verficado {
    display: flex;
}

#descripcion_imagen {
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 100px;
}

#imageUpload {
    background-color: #ead4ff3f;
    height: 110px;
}

button {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-color: #d7ceff;
    margin-top: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px var(--box-shadow);
}

#uploadButton {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-color: #7100db;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px var(--box-shadow);
}

#uploadButton:disabled {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-color: #c8c9d4;
    color: #535353;
    margin-top: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px var(--box-shadow);
}

#perfil {
    display: grid;
    margin-top: 20px;
    background-color: #fae4ff;
}

#foto_perfil {
    z-index: 0;
    width: 150px;
    height: 150px;
    border: 5px solid #f8e7ff;
    border-radius: 50%;
    background-color: var(--background-dark);
    margin-top: 80px;
    position: absolute;
    object-fit: cover;
}

#foto_banner {
    width: 100%;
    height: 175px;
    border-radius: 10px;
    background-color: #8400ff;
    object-fit: cover;
    margin-bottom: 70px;
}

#flecha_nav {
    width: auto;
    height: auto;
    padding: 8px;
    background-color: #6f009b;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    margin-bottom: 50px;
    margin-left: 3px;
    box-shadow: 3px 3px 7px black;
}

#flecha_nav img {
    filter: drop-shadow(5px 3px 3px #000000);
}

b {
    margin: 10px;
    font-size: 20px;
    font-family: var(--main-font);
    color: #00000054;
}

p {
    margin: 20px;
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--primary-color);
}

#crear_carpeta {
    width: 200px;
    border-radius: 10px;
    margin: 5px;
    margin-right: 10px;
    text-align: center;
    background-color: #6f009b;
    color: white;
    border: 1px solid rgb(140, 0, 255);
    transition: 1s;
}

#crear_carpeta p {
    margin: 20px;
    font-size: 20px;
    font-family: var(--main-font);
    color: #ffffff;
    text-decoration: none;
}

.carpetas {
    margin-top: 20px;
    overflow-y: auto;
    display: flex;
    transition: 1s;
}

.carpeta {
    min-width: 150px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgba(241, 185, 255, 0.212);
    border: 1px solid rgb(183, 0, 255);
    transition: 1s;
}

.carpeta:hover {
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgba(241, 185, 255, 0.363);
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 5px rgba(60, 0, 95, 0.466);
}

.carpetas:has(:hover) > :not(:hover) {
    transition: 1s;
    opacity: 0.4;
}

#info-folder {
    font-size: 35px;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: #5e00b6a8;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
    border-radius: 20px;
}

input::file-selector-button {
    background-color: transparent;
    width: 100%;
    height: 110px;
    font-weight: bold;
    color: #0000006c;
    padding: 0.5em;
    border: thin solid rgba(128, 128, 128, 0);
    transition: 1s;
}

input[type="file"]::file-selector-button:hover {
    width: 100%;
}

#seguir {
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 60px;
}

.seguir {
    background-color: #6f009bcb;
    color: #ffffff;
    border: #6f009bc5 solid 1px;
}

.dejar-seguir {
    background-color: #ffffff;
    color: #6f009b;
    border: #6f009b solid 1px;
}

#botones {
    display: flex;
}

#bajar_subimg {
    width: 50%;
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--primary-color);
}

#bajar_subimg {
    background-color: var(--primary-color);
    width: 50%;
    font-size: 20px;
    font-family: var(--main-font);
    color: #ffffff;
}

#editar-perfil {
    width: 50%;
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--primary-color);
}

#nombre_usuario {
    font-size: 40px;
    color: var(--primary-color);
}

span {
    font-family: var(--secondary-font);
    text-align: left;
}

#estado-subida {
    font-family: var(--secondary-font);
    font-size: 26px;
}

#imagen_seleccionada {
    margin-top: 10px;
    max-height: 120px;
    border-radius: 5px;
}

#labelarchivo {
    font-family: var(--secondary-font);
}
