.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#foto_perfil{
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
#nombre_carpeta{
    margin: 0px;
}
#nombre_usuario{
    margin: 10px;
}
.imagen{
    width: 100%;
    height: 200px;
    object-fit: cover;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.contenedor-img:hover{
    width: 105%;
    height: 202px;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    transform: translate(-2px, -2px);
}
#flecha_nav{
    margin-top: 10px;
    border: 0px;
    width: auto;
    height: auto;
    padding: 8px;
    background-color: #6f009b;
    border-radius: 50%;
    position: fixed;
    margin-bottom: 50px;
    margin-left: 3px;
    box-shadow: 3px 3px 7px black;
}
#flecha_nav img{
    filter: drop-shadow(5px 3px 3px #000000);
}
.contenedor-img {
    background-color: #d7ceff;
    border-radius: 10px;
    flex-basis: calc(25% - 20px); /* 25% para 4 columnas, restando el espacio entre columnas */
    height: 200px;
    overflow: hidden;
    transition: 1s;
    margin: 10px;
}
#subir_boton{
    width: 99%;
    height: 80px;
    background-color: #d7ceff;
    border-radius: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgba(66, 0, 104, 0.411);
}
.info{
    margin-top: 40px;
    margin-left: 5%;
    text-align: left;
}
