.container {
    width: 100%;
    height: 100vh;
    background-color: #ecefff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgb(162, 1, 255);
}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #000000;
    position: relative;
}

.form-content h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #7804ad;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background-color: #f4d7ff;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgb(3, 0, 0);
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #000000;
}

input::placeholder {
    color: #000000;
}

.input-field i {
    margin-left: 15px;
    color: #9000a3;
}

form p {
    color: #000000;
    text-align: left;
    font-size: 13px;
}

form p a {
    color: #7804ad;
    margin-left: 5px;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: #7804ad;
    color: #FFFFFF;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline:0;
    cursor: pointer;
    transition: background 1s;
    box-shadow: 1px 1px 2px rgb(5, 56, 0);
}
.input-group {
height: 250px;
}
.btn-field button.disable {
background-color: #EAEAEA;
color: #2C2F35;
box-shadow: 1px 1px 2px rgb(3, 0, 0);
}
table{
    width: 100%;
}
.todo{
    background-color: #2C2F35;
}
.btn-btn-success{
    width: 100%;
    flex-basis: 48%;
    font-size: 16px;
    background-color: transparent;
    color: #000000;
    height: 40px;
    border-radius: 10px;
    border: #575757;
    outline:0;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px rgb(3, 0, 0);
}
.btn-enviar {
    margin-top: 20px;
    width: 100%;
}
.btn-btn-success:hover{
    box-shadow: 1px 1px 5px rgb(3, 0, 0);
    width: 101%;
}
#flecha_nav{
    margin-top: 10px;
    border: 0px;
    width: auto;
    height: auto;
    padding: 8px;
    background-color: #6f009b;
    border-radius: 50%;
    position: fixed;
    margin-bottom: 50px;
    margin-left: 3px;
    box-shadow: 3px 3px 7px black;
}
#flecha_nav img{
    filter: drop-shadow(5px 3px 3px #000000);
}