.cont{
    width: 100%;
    height: 100vh;
    background-color: #ecefff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-form-img{
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgb(162, 1, 255);
}
input{
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-color: #d7ceff;
    margin-top: 10px;
    border: 0px;
}
button{
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-color: #d7ceff;
    margin-top: 10px;
    border: 0px;
}
#perfil{
    margin-top: 20px;
    background-color: #fae4ff;
}
b{
    margin: 20px;
    font-size: 40px;
    font-family: Mi fuente;
    color: #00000054;
}
.carpetas{
    display: flex;
    flex-wrap: wrap;
}
.carpeta{
    flex-grow: 1;
    flex-basis: 200;
}