:root {
    --main-font: "Mi fuente";
    --secondary-font: "Montserrat";
}
/* Definiciones de fuentes */
@font-face {
    font-family: var(--main-font);
    src: url("Recky.ttf");
}
@font-face {
    font-family: var(--secondary-font);
    src: url("../Montserrat/Montserrat-VariableFont_wght.ttf");
}
.div-lista-segudos{
    margin-left: 25%;
    width: 50%;
}
.seguidos-li a:hover{
    color: #ffffff;
    background-color: #221c29;
}
.seguidos-li a{
    text-align: left;
    cursor: pointer;
    padding: 20px;
    font-size: 44px;
    font-family: "mi fuente";
    width: 100%;
    color: #e2c2ff;
    background-color: #232125;
    border-radius: 5px;
}
#flecha_nav{
    z-index: 1;
    width: auto;
    height: auto;
    padding: 8px;
    background-color: #6f009b;
    border-radius: 50%;
    position: fixed;
    margin-bottom: 50px;
    margin-left: 3px;
    box-shadow: 3px 3px 7px black;
}
#flecha_nav img{
    filter: drop-shadow(5px 3px 3px #000000);
}

.seguidos-li{
    text-align: center;
    cursor: pointer;
    font-family: "mi fuente";
    width: 100%;
    color: #4a008f;
    background-color: #232125;
    column-count: 1; /* Cambia a 4 columnas */
    column-gap: 15px;
}
.cont{
    width: 100%;
    height: 150vh;
    background-color: #232125;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-form-img{
    width: 100%;
    max-width: 750px;
    background-color: #0000002c;
    color: #fff;
    padding: 50px 60px 70px;
    text-align: left;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
#folderName{
    background-color: #232125;
    color: #c9c7c7;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}
input{
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-color: #232125;
    color: #fff;
    margin-top: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}

button{
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-color: #232125;
    color: #fff;
    margin-top: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}
#uploadButton{
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-color: #7100db;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgba(66, 0, 104, 0.411);
}
#uploadButton:disabled{
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    background-color: #232125;
    color: #fff;
    margin-top: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}
#perfil{
    display:grid;
    margin-top: 20px;
    background-color: #232125;
}
#foto_perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #232125;
    background-color: #232125;
    margin-top: 80px;
    position: absolute;
    object-fit: cover;
}
#foto_banner{
    width: 100%;
    height: 175px;
    border-radius: 10px;
    background-color: #8400ff;
    object-fit: cover;
    margin-bottom: 70px;
}
b{
    margin: 10px;
    font-size: 20px;
    font-family: Mi fuente;
    color: #fff;
}
p{
    margin: 20px;
    font-size: 20px;
    font-family: Mi fuente;
    color: #ffffff;
}
#cont_nombre_verficado{
    display: flex;
}
.carpetas{
    margin-top: 20px;
    overflow-y: auto;
    display: flex;
    transition: 1s;
}
.carpeta{
    min-width: 150px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgba(114, 0, 143, 0.568);
    border: 1px solid #4a008f;
    transition: 1s;
}
.carpeta:hover{
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgba(84, 0, 105, 0.651);
    border: 1px solid #4a008f;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
}
.carpetas:has(:hover) > :not(:hover){
    transition: 1s;
    opacity: 0.4;
}
#info-folder{
    font-size: 35px;
}
::-webkit-scrollbar{
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-thumb{
    background-color: #5e00b6a8;
    border-radius: 20px;
}
::-webkit-scrollbar-track{
    background-color: #232125;
    border: 1px solid #4a008f;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #4a008f;
    border-radius: 20px;
}
input::file-selector-button {
    background-color: transparent;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    padding: 0.5em;
    border: thin solid rgba(128, 128, 128, 0);
    transition: 1s;
}  
input[type="file"]::file-selector-button:hover {
    width: 100%;
}
#seguir{
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    color: #fff;
}
.seguir{
    background-color: #6f009bcb;
    color: #ffffff;
    border: #6f009bc5 solid 1px;
}
.dejar-seguir{
    background-color: #232125;
    color: #6f009b;
    border: #6f009b solid 1px;
}

@font-face {
    font-family: "Mi fuente";
    src:url("Recky.ttf");
}
#editar-perfil{
    width: 50%;
    font-size: 20px;
    font-family: "Mi fuente";
    color: #ffffff;
    background-color: #0000002c;
}
#bajar_subimg{
    background-color: #4a008f;
    width: 50%;
    font-size: 20px;
    font-family: "Mi fuente";
    color: #ffffff;
}
#nombre_usuario{
    font-size: 40px;
    color: #8604ff;
}
#estado-subida {
    font-family: var(--secondary-font);
    font-size: 26px;
}

#imagen_seleccionada {
    margin-top: 10px;
    max-height: 120px;
    border-radius: 5px;
}

#labelarchivo {
    font-family: var(--secondary-font);
}