body{
    background-color: #232125;
}
.imagen-principal{
    margin-top: -10px;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.fondo{
    text-align: center;
    width: 100%;
    height: 600px;
    object-fit: cover;
}
h1{
    margin: 10px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 54px;
    font-family: "Mi fuente";
    color: #fff;
}
.eslogan{
    filter: drop-shadow(3px 3px 15px rgb(0, 0, 0));
    font-family: bold;
    color: #fffdee;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info-rapida{
    filter: drop-shadow(3px 3px 15px rgb(0, 0, 0));
    font-family: bold;
    color: #fffdee;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buscador{
    position: absolute;
    top: 55%;
    left: 20%;
    width:60%;
    height: 60px;
    border-radius: 50px;
    color: #09060f;
    text-align: center;
    font-size: 24px;
}
#boton_buscar{
    background-color: #6f009b;
    position: absolute;
    top: 55%;
    left: 73%;
    width: 100px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-radius: 0px 30px 30px 0px;
}
header{
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0px;
}
ul {
    display: flex;
    position: sticky;
    top: 1;
    border-radius: 2px 2px 10px 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #261d2e;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.288);
    color: #fff;
  }
  
  li {
    width: flex;
    float: left;
  }
  
  li a {
    font-family: "Mi fuente";
    display: block;
    color: 001546;
    text-align: center;
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
  }
  li a:hover {
    background-color: #2E4053;
    color: #fffdee;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
  }

  @font-face {
    font-family: "Mi fuente";
    src:url("Recky.ttf");
    }
    
    .info{
        text-align: center;
    }
    b{
        margin: 20px;
        font-size: 45px;
        font-family: Mi fuente;
        color: #fff;
    }
    p{
        margin: 20px;
        font-size: 30px;
        font-family: Mi fuente;
        color: #e167ff;
    }
    footer{
        max-width: 100%;
        box-shadow: 1px 1px 5px rgba(60, 0, 95, 0.466);
        padding: 10px;
        display: flex;
        background-color: #0000006c;
    }
    .pcontacto{
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .marca{
        margin-right: 0%;
    }
    .correo{
        margin: auto;
    }
    .redes-sociales{
        filter: invert(100%);
        border-radius: 10px;
        margin-top: 20px;
    }
    .iconos-contacto{
        transition: 0.9s;
    }
   #github:hover{
        filter: invert(0%);
        filter: drop-shadow(1px 1px 3px #96cc32);
    }
    #linkeding:hover{
        filter: invert(0%);
        filter: drop-shadow(1px 1px 3px #ff0101);
    }
    #instagram:hover{
        filter: invert(0%);
        filter: drop-shadow(1px 1px 3px #09ff00);
    }
    #x:hover{
        filter: invert(0%);
        filter: drop-shadow(1px 1px 3px #ffffff);
    }

@media only screen and (max-width: 700px) {
    h1{
        margin: 0px;
        margin-bottom: 50px;
        width: 100%;
        font-size: 0px;
        font-family: "Mi fuente";
        color: #6f009b;
    }
    .eslogan{
        font-size: 40px;
    }
    footer{
        text-align: center;
        max-width: 100%;
        box-shadow: 1px 1px 5px rgba(60, 0, 95, 0.466);
        padding: 1px;
        background-color: #fffdee;
    }
    .pcontacto{
        color: black;
        font-size: 10px;
    }
    .correo{
        margin: 0px;
    }
    .redes-sociales{
        width: 7px;
    }
  }
  #categorias{
    display: flex;
    overflow-y: auto;
    width: 100%;
}

#categorias p{
    font-size: 20px;
    color: #ffffffd5;
    text-decoration: none;
    margin: 10px;
}
#categorias a{
    border: 1px solid #ffffff49;
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
    transition: 0.2s;
}
#categorias a:hover{
    border: 1px solid #ffffff;
}
#categorias p:hover{
    color: #ffffff;
}